*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
 html,body{
    height: 100%;
}
img{
     cursor: pointer;
}
.icon{

    width:30px;
}
.icon-s{
    width: 25px;
}
.dis-flex{
    display: flex;
    align-items: center;
}
.msg{
    font-size: 10px;
}